{% extends "layout.html" %}


{% block cssJs %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/comments.css')}}">
{% endblock cssJs %}

{% block content %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">





    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">Matthew</a>
          <small class="text-muted">January 20, 2020</small>
        </div>
        <h2><a class="article-title" href="#">How much is shipping costs?</a></h2>
        <p class="article-content">$2-10 depending on the weight of the item.</p>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">David</a>
          <small class="text-muted">January 21, 2020</small>
        </div>
        <h2><a class="article-title" href="#">How long does delivery take?</a></h2>
        <p class="article-content">Express delivery takes 2-4 days, while standard delivery takes 6-10 days.</p>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">Mary</a>
          <small class="text-muted">January 23, 2020</small>
        </div>
        <h2><a class="article-title" href="#">What do I do if my parcel does not arrive?</a></h2>
        <p class="article-content">Please contact the shipping company with your shipping ID.</p>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">James</a>
          <small class="text-muted">January 25, 2020</small>
        </div>
        <h2><a class="article-title" href="#">What do you sell?</a></h2>
        <p class="article-content">We provide many items, please view our Home Page.</p>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">Jerry</a>
          <small class="text-muted">January 28, 2020</small>
        </div>
        <h2><a class="article-title" href="#">Where are you located?</a></h2>
        <p class="article-content">We are located in Singapore, but we provide international shipping.</p>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">Samantha</a>
          <small class="text-muted">January 29, 2020</small>
        </div>
        <h2><a class="article-title" href="#">How do I submit a question?</a></h2>
        <p class="article-content">You can email us at yu.xin.yang.yxy@gmail.com and we will update the page with the answer.</p>
      </div>
    </article>
    <!-- </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
        </p>
      </div>
    </div>
  </div> -->
</main>


{% endblock content %}
