{% extends "layout.html" %}

{% block cssJs %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock cssJs %}

{% block header%}
<div class="banner">
  <img src="{{ url_for('static', filename='img/hacking2.jpg') }}" alt="">
  <div class="background"></div>
  <h2>Hacker's Shop</h2>
</div>
{% endblock header%}


{% block content %}

    <!--Tabs-->
    <section class="sellingItems">
    <div class="tabs">
    <button type="button" class="tabButton" value="sellingOutfits">Hacker's Outfits</button>
    <button type="button" class="tabButton" value="sellingTools">Hacker's Tools</button>
    </div>
    </section>
    <!--Tabs-->

    <!-- itemsAvailable -->
    <!-- <h1>{{ hackingProducts|length}}</h1> -->
    <section class="itemsAvailable" id="afterModal">


    <div class="sellingOutfits subPage">
    <h3>Hacker's Outfits</h3>
    <div class="shopItems">
      {% for hackingProduct in hackingProducts %}
        {% if hackingProduct.category == "outfits" %}
          <div class="shopItem item1">
            <span class="itemName">{{hackingProduct.title}}</span>
            <img src="{{url_for('static', filename='shop/'+hackingProduct.image_file)}}" alt="{{hackingProduct.title}}">
            <div class="shopItemDetails">
              <span class="itemPrice">S${{hackingProduct.price}}</span>
              {% if current_user.is_authenticated %}
                <a class="addToCart" >Add To Cart</a>
              {% else %}
                <a class="addToCartN" href="{{url_for('cart')}}">Add To Cart</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    </div> <!-- End of sellingOutfits page -->


    <div class="sellingTools subPage">
    <h3>Hacker's Tool</h3>
    <div class="shopItems">
      {% for hackingProduct in hackingProducts %}
        {% if hackingProduct.category == "tools" %}
          <div class="shopItem item1">
            <span class="itemName">{{hackingProduct.title}}</span>
            <img src="{{url_for('static', filename='shop/'+hackingProduct.image_file)}}" alt="{{hackingProduct.title}}">
            <div class="shopItemDetails">
              <span class="itemPrice">S${{hackingProduct.price}}</span>
              {% if current_user.is_authenticated %}
                <a class="addToCart" >Add To Cart</a>
              {% else %}
                <a class="addToCartN" href="{{url_for('cart')}}">Add To Cart</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div> <!-- End of shopItems page -->
    </div> <!-- Endo of sellingTools page -->

    </section>


    <!-- Modal -->
    <section class="addToCartModal">
      <div class="modalContent">
        <div class="modalHeader">
          <p class="closeBtn">&times;</p>
        </div>
        <div class="modalBody">
          <p class="modalBodyHeader">Item Added!</p>
          <p class="modalBodyMessage">Please Go To Your Cart To Checkout</p>
        </div>
      </div>
    </section>

    <!-- Modal -->


{% endblock content %}
