<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">

    {% if title %}
      <title>YXY - {{ title }}</title>
    {% else %}
      <title>Error</title>

    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logoT.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/init.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css')}}">
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>

    {% block cssJs %}{% endblock %}

  </head>
  <body>
    <nav class="navMain">
      <div onclick="toggleNav()"  class="resize">
      <div class="menu" onclick="menuFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
      </div>
    </div>

    </nav>
    <div class="logo">
      <!--<img src="img/logo.png" alt="logo" class="logo">-->
      <a href="{{ url_for('home') }}"></a>
    </div>

    {% if current_user.is_authenticated %}

      {% if current_user.id >= 10000000000 %}
      {% else %}
        {% if title == "Cart" %}
          <div class="logoPosition">
            <a  href="{{ url_for('home') }}" class="shopLogo">
            </a>
          </div>
        {% else %}
          <div class="logoPosition">
            <a  href="{{ url_for('cart') }}" class="shopCartLogo">
            </a>
          </div>
        {% endif %}
      {% endif %}

    {% endif %}




    <nav class="sideNav">
      <ul>
        <!-- The different page links -->
        {% if current_user.is_authenticated %}
          {% if current_user.id >= 10000000000 %}
          {% else %}
            {% if title == 'Home' %}
              <li>
                <a href="{{url_for('home')}}" id="first" class='onNavPage'>Home</a>
              </li>
            {% else %}
              <li>
                <a href="{{url_for('home')}}" id="first" >Home</a>
              </li>
            {% endif %}
          {% endif %}

        {% else %}
          {% if title == 'Home' %}
            <li>
              <a href="{{url_for('home')}}" id="first" class='onNavPage'>Home</a>
            </li>
          {% else %}
            <li>
              <a href="{{url_for('home')}}" id="first" >Home</a>
            </li>
          {% endif %}
        {% endif %} <!-- End of auth home -->

        {% if current_user.is_authenticated %}

          {% if current_user.id >= 10000000000 %}
            {% if title == 'Account'%}
              <li>
                <a href="{{ url_for('account') }}" class='onNavPage' id='first'>Account</a>
              </li>
            {% else %}
              <li>
                <a href="{{ url_for('account') }}" id='first'>Account</a>
              </li>
            {% endif %}
          {% else %}
            {% if title == 'Account'%}
              <li>
                <a href="{{ url_for('account') }}" class='onNavPage'>Account</a>
              </li>
            {% else %}
              <li>
                <a href="{{ url_for('account') }}">Account</a>
              </li>
            {% endif %}
          {% endif %}

          {% if current_user.id >= 10000000000 %}
            {% if title == 'manageUser'%}
              <li>
                <a href="{{url_for('manageUser')}}" class='onNavPage'>Users</a>
              </li>
            {% else %}
              <li>
                <a href="{{url_for('manageUser')}}">Users</a>
              </li>
            {% endif %}

            {% if title == 'inventory'%}
              <li>
                <a href="{{url_for('inventory')}}" class='onNavPageI'>Inventory</a>
              </li>
            {% else %}
              <li>
                <a href="{{url_for('inventory')}}">Inventory</a>
              </li>
            {% endif %}


            <!-- {% if title == 'dashboard'%}
              <li>
                <a href="#" class='onNavPage'>Dashboard</a>
              </li>
            {% else %}
              <li>
                <a href="#">Dashboard</a>
              </li>
            {% endif %} -->
          {% else %}
            <!-- JT -->
            {% if title == 'comment'%}
              <li>
                <a href="{{ url_for('comments') }}" class='onNavPage'>Forum</a>
              </li>
              {% else %}
              <li>
                <a href="{{ url_for('comments') }}">Forum</a>
              </li>
            {% endif %}
            <!-- JT -->
            {% if title == 'about'%}
              <li>
                <a href="{{url_for('aboutUs')}}" class='onNavPage'>About Us</a>
              </li>
            {% else %}
              <li>
                <a href="{{url_for('aboutUs')}}">About Us</a>
              </li>
            {% endif %}
          {% endif %}
          <li>
            <a href="{{ url_for('logout')}}">Logout</a>
          </li>

          {% if current_user.id >= 10000000000 %}
          {% else %}
            <div class="sideCart">
              <li>
                {% if title == 'Cart' %}
                  <a  href="{{ url_for('home') }}" class="shopLogo">
                  </a>
                {% else %}
                <a  href="{{ url_for('cart') }}" class="shopCartLogo">
                </a>
                {% endif %}
              </li>
            </div>
            <div class="sideCart">
              <li></li>
            </div>
          {% endif %}



        {% else %}
          {% if title == 'Register' %}
            <li>
              <a href="{{url_for('register')}}" class='onNavPage'>Register</a>
            </li>
          {% else %}
            <li>
              <a href="{{url_for('register')}}">Register</a>
            </li>
          {% endif %}

          {% if title== 'Login' %}
            <li>
              <a href="{{url_for('login')}}" class='onNavPage'>Login</a>
            </li>
          {% else %}
            <li>
              <a href="{{url_for('login')}}">Login</a>
            </li>
          {% endif %}

          <!-- JT -->
          {% if title == 'comment'%}
            <li>
              <a href="{{ url_for('comments') }}" class='onNavPage'>Forum</a>
            </li>
            {% else %}
            <li>
              <a href="{{ url_for('comments') }}">Forum</a>
            </li>
          {% endif %}
          <!-- JT -->

          {% if title == 'about'%}
            <li>
              <a href="{{url_for('aboutUs')}}" class='onNavPage'>About Us</a>
            </li>
          {% else %}
            <li>
              <a href="{{url_for('aboutUs')}}">About Us</a>
            </li>
          {% endif %}


        {% endif %}


      </ul>
    </nav>

    <article class="workContent">
      {% block header %}
      {% endblock %}




    {% block content %}
    {% endblock %}
    </article>






    <footer class="homeFooter">
      <div class="footerSelection">
        <p class="backToTop"><a href="#">Back To Top</a></p>
      </div>
      <div class="footerMainInfo">
        <div class="footerBlock">
          <h3>About Us</h3>
          <p>We are selling products to make you a real HACKER!!!</p>
          <p class="twoPlatform">
            <a href="https://www.instagram.com/xy.yu/" class="insta">
              <img src="{{ url_for('static', filename='img/footer/instagram-32.ico')}}" alt="insta">
            </a>
            <a href="https://github.com/XinYang-YXY?tab=repositories" class="github">
              <img src="{{ url_for('static', filename='img/footer/github-6-32.ico')}}" alt="github">
            </a>
            <a href="https://linkedin.com/in/xinyang-yu" class="myLinkedin">
              <img src="{{ url_for('static', filename='img/footer/linkedin.ico')}}" alt="linkedin">
            </a>
          </p>
        </div>
        <div class="footerBlock">
          <h3>Lead Page</h3>
          <p>Check the website of the lead out!!!</p>
          <div class="twoPlatform">
            <a href="https://yxy.ninja" class="myWeb">
              <img src="{{ url_for('static', filename='img/footer/website.ico')}}" alt="website">
            </a>
          </div>
        </div>

        <div class="footerBlock">
          <h3>Contact Info</h3>
          <p>
            <img src="{{ url_for('static', filename='img/footer/location.ico')}}" alt="locationIcon">
            Nanyang Polytechnic, 180 Ang Mo Kio Ave 8, Singapore 569830
          </p>
          <p>
            <img src="{{ url_for('static', filename='img/footer/email.ico')}}" alt="emailIcon">
            yu.xin.yang.yxy@gmail.com
          </p>
        </div>
      </div>

      <div class="copyright">Copyright  &copy; 2019-2020 YXY. All rights reserved.</div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
