{% extends "layout.html" %}


{% block cssJs %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock cssJs %}


{% block content %}

  <div class="content-section">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <section class="p-3 mt-3 preventFloat alert alert-{{ category }}">
            {{ message }}
          </section>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form  action="" method="POST">
      {{ form.hidden_tag() }}

      <fieldset class="form-group">
        <legend class="border-bottom mb-4 shopFontTitle">Log In</legend>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-check">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class="form-check-label") }}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
      <small class="text-muted">
        <a class="text-primary" href="{{ url_for('reset_request') }}">Forgot Password?</a>
      </small>
  </form>
  </div>
  <div class="m-3">
    <small class="text-muted m-5">
        Need An Account? <a class="ml-2 text-primary" href="{{ url_for('register') }}">Sign Up Now</a>
    </small>
  </div>

{% endblock content %}
