<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">

    <title>Hacker's Shop</title>

    <link rel="shortcut icon" href="img/logoT.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/init.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css')}}">
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>

    {% block cssJs %}{% endblock %}

  </head>
  <body>
    <nav class="navMain">
      <div onclick="toggleNav()"  class="resize">
      <div class="menu" onclick="menuFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
      </div>
    </div>

    </nav>
    <div class="logo">
      <!--<img src="img/logo.png" alt="logo" class="logo">-->
      <a href="{{ url_for('home') }}"></a>
    </div>

    <div class="logoPosition">
      <div class="shopLogo">
      </div>
    </div>

    <div class="logoPosition">
      <div class="shopCartLogo">
      </div>
    </div>




    <nav class="sideNav">
      <ul>
        <!-- The different page links -->
      </ul>
    </nav>

    <article class="workContent">
      {% block header %}
      {% endblock %}




    {% block content %}
    {% endblock %}
  </article>






    <footer class="homeFooter">
      <div class="footerSelection">
        <p class="backToTop"><a href="#" >Back To Top</a></p>
        <p class="homeFooter0"><a href="">PlaceHoder 1</a></p>

        <p class="homeFooter2"><a href="">PlaceHoder 2</a></p>

        <p class="homeFooter3"><a href="">PlaceHoder 3</a></p>
        <p class="homeFooter4"><a href="">PlaceHoder 4</a></p>
        <p class="homeFooter1"><a href="" class="onPage">PlaceHoder 5</a></p>
      </div>

      <div class="copyright">Copyright  &copy; 2019 YXY. All rights reserved.</div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
