.workContent{
  padding-top: 90px;
  margin: auto;
  width: 80%;
  margin-bottom: 113px;
}

.accountHeader{
  display: flex;
  justify-content: flex-start;
  overflow: auto
}

.accountInfo{
  margin-left: 10%;
}
