/*Modal*/
.addToCartModal{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index:1000;
  overflow:hidden;
  top:0;
  left: 0;
  background-color: rgba(230, 231, 232, 0.8);
}
.modalContent{
  margin: 20% auto;
  width: 70%;

  text-align: center;
  background-color: #262729;
  color: white;

  padding-bottom:55px;

  box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.4);

  animation-name: modalOpen;
  animation-duration: 1.2s;
}
.modalHeader{
  display: flex;
  justify-content: flex-end;
}
.closeBtn{
  cursor: pointer;
  margin-right: 10px;
  font-size: 2em;
  transition: all 0.4s ease-in-out;
}
.closeBtn:hover{
  color: grey;
}
.modalBody{
  margin-top: 20px;
}
.modalBodyHeader, .modalBodyMessage{
  font-family: text;
}
.modalBodyHeader{
  font-size: 1.2em;
  margin-bottom: 5px;
}
/*Modal*/


.removeButton, {
  font-family: shopFont2;
}

.cartItemName, .cartItemPrice, .cartTotal, .cartEmpty{
  font-family: text;
}

.cartItem{
  padding-bottom: 15px;
  box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.2);
}




.cartItemDes{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  width:auto;
}
.cartItems{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

  text-align: center;
}
.cartItem{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 5%;
  background-color: rgba(230, 231, 232, 0.24);
  width: 80%;
}

.cartItemPic{

}

.cartItemInfo{
  width: 100%;

}
.removeButton{
  font-family: shopFont2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;

  text-align: center;

  background-color: white;
  border:none;
  border: 1px black solid;
  font-size: 1.1em;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;

  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
}
.removeButton:hover{
  background-color: black;
  color:rgba(230, 231, 232, 1);
  transition: all 0.4s ease-in-out;
}

.cartItemDes{
  display: flex;
  justify-content: center;

}
.cartItemName{
  font-size: 1.2em;
}
.cartItemBuyingInfo{
  display: flex;
  justify-content: space-between;
  width:100%;

  margin-top: 70px;
  margin-left: 10px;
}

.cartItemPrice{
  padding-top: 2px; /*shopFont2 4px*/  /*Text also responsive*/
  font-size: 1.1em;
}

.cartItemNumWrapper input{
  display: block;
  font-family: text;
  padding-top: 4px;
  padding-left: 4px;
  width:40px;
  font-size: 1.1em;

}
.cartItemPic img{
  height:100px;
  width:100px;
  display: block;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2);
}

.cartItemNum{
  width:52px;
  height:32px;

  font-family: text;
  font-size: 1.3em;
}

.cartTotal{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 80%;
  font-size: 1.2em;
}
.cartTotal p{
  margin-left: 10px;
}
.cartEmpty{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 80%;
  font-size: 1.2em;
  text-align: center;
}


/*Nav / footer*/
.sideNav ul li{
  font-family: shopFont2;
}


.homeFooter p{
  font-family: text;
}
.copyright{
  font-family: shopFont2;
}

/*Nav / footer*/
.workContent{  /*== homeContent*/
  text-align: center;
  padding-top: 50px;
}




.banner{
  position: relative;
  overflow: hidden;
  z-index: -1000;
}
.banner img{
  display: block;
  width: 100%;
  height: 400px;

}
.background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  padding-top: 0px;
  background-color: #262729;
  opacity: 0.8;
}
.banner h2{
  text-align: center;
  font-family: shopFont2;
  font-weight:500;
  font-size: 3.9em;
  color:white;

  position: absolute;
  left:0%;
  top:40%;
  width: 100%;
}

/*Tabs*/
.sellingItems{
  text-align: center;
  margin-top: 15px;
}
.tabButton{
  background-color: white ;
  border: none;
  border-bottom: 1px solid #000066;
  font-family: shopFont2;
  font-size:1.2em;
  font-weight: 500;

  cursor: pointer;
  text-decoration: none;


}
.tabButton:nth-child(1){
  margin-right: 10px;
}
.tabButton:nth-child(2){
  margin-left: 10px;
}
.tabButton:hover{
  border: 0px;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0% 100%;
  background-repeat: repeat-x;

  background-size: auto 6px;
}
/*Tabs*/


/*Pages*/

.subPage h3{
  text-align: center;
  width: 100%;

  margin-top: 50px;
  font-family: shopFont2;
  font-weight: 500;
  font-size: 3em;
}
.shopItems{
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
}

.shopItem{
  background-color: rgba(230, 231, 232, 0.24);
  margin-bottom: 10px;
  width: 100%;

  text-align: center;

  padding-top: 75px;
  padding-bottom: 75px;

  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
}
.itemName{
  font-family: shopFont2;
  font-size: 2em;

  display: block;
  margin-bottom: 5px;
}
.shopItem img{
  display: block;

  margin:  auto;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2);
}
.itemPrice{
  font-family: shopFont2;
  margin-left: 5px;
  margin-top: 5.5px;
  padding-top: 4px;

  font-size: 1.2em;
}
.addToCart{
  font-family: shopFont2;
  background-color: rgba(230, 231, 232, 0.24);
  border:none;
  border: 1px solid black;
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;

  font-size: 1.2em;

  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
}
.addToCart:hover{
  background-color: black;
  color:rgba(230, 231, 232, 1);
  transition: all 0.4s ease-in-out;
}

.shopItemDetails{
  display: flex;
  justify-content: space-between;
  width:300px;


  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
button{
  cursor: pointer;
}
/*Pages*/

/*SubPages*/
.sellingTools{   /*Making the first visible only*/
  display: none;
}


/* .goToShoppingCart{
  font-family: shopFont2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;

  background-color: white;
  border:none;
  border: 1px black solid;
  font-size: 2em;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
}
.goToShoppingCart:hover{
  background-color: black;
  color:rgba(230, 231, 232, 1);
  transition: all 0.4s ease-in-out;
} */



/* .goBack{
  font-family: shopFont2;
  margin-top: 8px;
  margin-left: 8px;
  text-align: center;

  background-color: white;
  border:none;
  border: 1px black solid;
  font-size: 1.5em;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  display: none;

  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);


}
.goBack:hover{
  background-color: black;
  color:rgba(230, 231, 232, 1);
  transition: all 0.4s ease-in-out;
} */


.shoppingCart h3{
  text-align: center;
  width: 100%;

  margin-top: 50px;
  font-family: shopFont2;
  font-weight: 500;
  font-size: 3em;
}
.checkout{
  font-family: shopFont2;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;

  background-color: white;
  border:none;
  border: 1px black solid;
  font-size: 2em;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;


  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
}
.checkout:hover{
  background-color: black;
  color:rgba(230, 231, 232, 1);
  transition: all 0.4s ease-in-out;
}



/*SubPages*/
.empty{
  margin-top: 800px;
}

@media only screen and (min-width: 1000px){
  .workContent{
    display: block !important;
    padding-top: 0px;
  }
  .banner{
    z-index: 0;
  }

  .banner h2{
    font-size: 6em;
  }

  .tabButton{
    font-size: 1.8em;

  }

  .subPage h3{
    font-size: 3.7em;

  }
  .shopItems{
    flex-direction: row;
  }

  .item1{
    margin-right: 5px;
  }
  .item2{
    margin-left: 5px;
  }

}
@media only screen and (min-width: 600px){

  .cartItem{
    border-radius: 0;
  }
  .cartItemInfo{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
  }

  .cartItemName{
    font-size: 1.4em;
    flex-basis: 25%;
  }
  .cartItemBuyingInfo{
    margin-top: 0px;
    justify-content: space-around;
    flex-basis: 75%;
  }
  .cartItemNumWrapper input{
    padding-bottom: 0px;
    font-size: 1.3em;
  }
  .cartTotal{
    font-size: 1.6em;
  }
  .cartEmpty{
    font-size: 1.6em;
  }




  .cartItemPrice{
    padding-top: 4px;
    font-size: 1.3em;
  }

  .removeButton{
    font-size: 1.3em;
  }


  .cartItemPrice{
    padding-top: 0px;
  }



/*MOdal*/
  .closeBtn{
    font-size: 3em;
  }

  .modalBody{
    margin-top: 20px;
  }

  .modalBodyHeader{
    font-size: 2em;
    margin-bottom: 5px;
  }
  .modalBodyMessage{
    font-size:1.4em;
  }
/*Modal*/

}

@keyframes modalOpen {
  from {opacity: 0}
  to {opacity: 1}
}
