/*Extra Font family*/
@font-face{
        font-family: "slant";
        src:url("../fonts/SLANT.TTF");
}
@font-face {
        font-family: "text";
        src:url("../fonts/CooperHewitt-Light.otf");
}
@font-face {
  font-family: "shopFont";
  src: url("../fonts/FunSized.ttf");
}

@font-face {
  font-family: "shopFont2";
  src: url("../fonts/CRACKWALL-Regular.ttf");
}
/*Extra Font Family*/

/*Common Settings*/
*{
  margin:0px;
  padding:0px;
}
body{
  transition: all 0.5s ease-in-out;
}
ul{
  list-style-type: none;
  padding:0;
}
a{
  text-decoration: none;
  color: white;
}
/*Common Settings*/

.gap{
  margin-top:60px;
}

/* Extra Setting */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;

  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;

  box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.2);
}
.shopFontTitle{
  font-family: shopFont2;
  font-size: 1.8em;
}
