/*Common Settings*/

/*Nav part*/
.sideCart{
  display: none;
}
.sideNav{
  display: block;
}
.navMain{
  background-color: #262729;
  height:50px;
  width:100%;

  position: fixed;
  opacity: 0.98;
  transition: all 0.1s ease-in-out;
}

/*Menu */
.menu{
  position: fixed;
  display: inline-block;
  cursor: pointer;

  top:10px;
  left:15px;

}
.bar1, .bar2, .bar3{
  width: 18px;
  height: 1px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}
.change .bar1{
  transform: rotate(-45deg) translate(-5px, 5px);
}
.change .bar2{
  opacity:0;
}
.change .bar3{
  transform: rotate(45deg) translate(-5px, -5px);
}
/*Menu */
.logo{
  display: block;
  position: fixed;
  top:0%;
  left:calc(50% - 23px);
  cursor: pointer;
  background: url("../img/logo.png") no-repeat;

  height:38px;
  width:46px;

}
.logo:hover{
  background: url("../img/logo2.png") no-repeat;
  transition: all 0.5s ease-in-out;
}
.logo a{
  display: block;
  height:38px;
}
.sideNav{
  display:none; /*Does not leave white space*/
}
.sideNav ul{
  display: flex;
  flex-direction: column;

  padding-left: 0px;

  visibility: hidden; /*#####*/
  transition: all 0s ease-in-out;
}
.sideNav ul li{
  list-style: none;
  border-bottom:1.49px grey solid;

  margin-left:40px;
  margin-right: 40px;
  padding-top:8px;
  padding-bottom: 8px;

  transition: all 0.5s ease-in-out; /*#####*/

  font-family: monospace;
  font-weight: 400;
  font-size: 1.3em;
}
.sideNav ul li a{
  display: block;

  font-size: 1.2em;

  transition: all 0.5s ease-in-out; /*#####*/
}


.sideNav a:hover{
  color: grey;
}
.sideNav #first{
  margin-top: 60px;
}
.onNavPage{
  color:grey;
  pointer-events: none;

}
/*Nav part*/





.homeFooter{
  color:white;
  background-color: #262729;

  padding-top: 20px;


  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}
.homeFooter p{
  cursor: pointer;
  font-family: monospace;
  font-size: 1.3em;
}
.homeFooter1, .homeFooter2, .homeFooter0, .homeFooter3, .homeFooter4{
  margin-bottom: 8px;
}
.onPage{
  color:grey;

  pointer-events: none;
}

.homeFooter a:hover{
  color:grey;
  transition: all 0.5s ease-in-out;
}
.backToTop{
  margin-bottom: 20px;
}
.copyright{
  padding-top: 50px;
  font-size: 0.7em;

  font-family: monospace;

}
/*Content*/



/*Responsive*/
@media only screen and (min-width: 1000px){
/*Nav*/
  .sideCart{
    display: block;
  }
  /*Click menu*/
  .logo{
    /*left:49%;*/
    left:2%;
    top:0.5%;
    z-index: 1000;
  }
  .resize{
    visibility: hidden;
  }
  /*Click menu*/
  .bar1, .bar2, .bar3{
    transition: 0s;
  }
  .sideNav{
    display:block !important;
    position:fixed;
    z-index: 999;
    width:100%;

  }
  .sideNav ul{
    visibility: visible !important;
    padding: 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }

  .sideNav ul li{
    list-style: none;
    border-bottom:0;

    margin:0;
    padding: 0;

    padding-top: 8px;
    padding-right: 30px;


  }
  .sideNav ul li a{
    display: inline;

    text-decoration: none;

    color: white;
    font-size: 1.2em;
  }
  .onNavPage{
    color:grey !important;
  }

  .sideNav #first{
    margin-top: 0px;
  }
/*Nav*/

  body{
    background-color: white !important;
  }


  .homeFooter{
    padding-top: 95px !important;
  }

  .footerSelection{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  .footerSelection p{
    padding-left: 20px;
    padding-right: 20px;

  }
  .copyright{
    font-size: .8em;
    padding-top: 164px;

  }
  .onPage{
    color:white;



  }
}
